[
["gp:US4946786" :patent/source :google-patents 976 :add]
["gp:US4946786" :patent/country "US" 976 :add]
["gp:US4946786" :patent/cites "US3444041" 976 :add]
["gp:US4946786" :patent/cites "US3444042" 976 :add]
["gp:US4946786" :patent/cites "US3661893" 976 :add]
["gp:US4946786" :patent/cites "US4072574" 976 :add]
["gp:US4946786" :patent/cites "US4363877" 976 :add]
["gp:US4946786" :patent/cites "US4224408" 976 :add]
["gp:US4946786" :patent/cites "US4331589" 976 :add]
["gp:US4946786" :patent/cites "US4591565" 976 :add]
["gp:US4946786" :patent/cites "US4663283" 976 :add]
["gp:US4946786" :patent/cites "US4555486" 976 :add]
["gp:US4946786" :patent/cites "US4394443" 976 :add]
["gp:US4946786" :patent/cites "US4395486" 976 :add]
["gp:US4946786" :patent/cites "US4563419" 976 :add]
["gp:US4946786" :patent/cites "US4486539" 976 :add]
["gp:US4946786" :patent/cites "US4663290" 976 :add]
["gp:US4946786" :patent/cites "US4483922" 976 :add]
["gp:US4946786" :patent/cites "US4483920" 976 :add]
["gp:US4946786" :patent/cites "US4556643" 976 :add]
["gp:US4946786" :patent/cites "US4521509" 976 :add]
["gp:US4946786" :patent/cites "US4656127" 976 :add]
["gp:US4946786" :patent/cites "US4729947" 976 :add]
["gp:US4946786" :patent/cites "US4786600" 976 :add]
["gp:US4946786" :patent/cites "US4675283" 976 :add]
["gp:US4946786" :patent/cites "US4767708" 976 :add]
["gp:US4946786" :patent/cites "US4670379" 976 :add]
["gp:US4946786" :patent/cites "US4795700" 976 :add]
["gp:US4946786" :patent/cites "US4683202" 976 :add]
["gp:US4946786" :patent/cites "US4707235" 976 :add]
["gp:US4946786" :patent/cites "US4683195" 976 :add]
["gp:US4946786" :patent/cites "US4800159" 976 :add]
["gp:US4946786" :patent/cites "EP0258017A2" 976 :add]
["gp:US4946786" :patent/cites "US4795699" 976 :add]
["gp:US4946786" :patent/source-url "https://patents.google.com/patent/US4946786/en" 976 :add]
["gp:US4946786" :patent/patent-id "US4946786" 976 :add]
["gp:US4946786" :patent/applicant "Harvard University" 976 :add]
["gp:US4946786" :patent/granted-at "1990-08-07" 976 :add]
["gp:US4946786" :patent/application-number "US:07/487,746" 976 :add]
["gp:US4946786" :patent/retrieved-at "2026-08-12T12:38:17.521077Z" 976 :add]
["gp:US4946786" :patent/title "T7 DNA polymerase \n       " 976 :add]
["gp:US4946786" :patent/inventor "Stanley Tabor" 976 :add]
["gp:US4946786" :patent/inventor "Charles C. Richardson" 976 :add]
["gp:US4946786" :patent/filed-at "1990-03-01" 976 :add]
["gp:US4946786" :patent/number "US:4946786" 976 :add]
["gp:US4585736" :patent/source :google-patents 977 :add]
["gp:US4585736" :patent/country "US" 977 :add]
["gp:US4585736" :patent/cites "US4196265" 977 :add]
["gp:US4585736" :patent/cites "EP0102228A2" 977 :add]
["gp:US4585736" :patent/source-url "https://patents.google.com/patent/US4585736/en" 977 :add]
["gp:US4585736" :patent/patent-id "US4585736" 977 :add]
["gp:US4585736" :patent/applicant "US Department of Energy" 977 :add]
["gp:US4585736" :patent/granted-at "1986-04-29" 977 :add]
["gp:US4585736" :patent/application-number "US:06/542,955" 977 :add]
["gp:US4585736" :patent/retrieved-at "2026-08-12T12:38:21.123691Z" 977 :add]
["gp:US4585736" :patent/title "Flow cytometric measurement of total DNA and incorporated halodeoxyuridine \n       " 977 :add]
["gp:US4585736" :patent/inventor "Frank A. Dolbeare" 977 :add]
["gp:US4585736" :patent/inventor "Joe W. Gray" 977 :add]
["gp:US4585736" :patent/filed-at "1983-10-18" 977 :add]
["gp:US4585736" :patent/number "US:4585736" 977 :add]
["gp:US4793705" :patent/source :google-patents 978 :add]
["gp:US4793705" :patent/country "US" 978 :add]
["gp:US4793705" :patent/cites "US4698308" 978 :add]
["gp:US4793705" :patent/source-url "https://patents.google.com/patent/US4793705/en" 978 :add]
["gp:US4793705" :patent/patent-id "US4793705" 978 :add]
["gp:US4793705" :patent/applicant "US Department of Energy" 978 :add]
["gp:US4793705" :patent/granted-at "1988-12-27" 978 :add]
["gp:US4793705" :patent/application-number "US:07/105,376" 978 :add]
["gp:US4793705" :patent/retrieved-at "2026-08-12T12:38:23.642242Z" 978 :add]
["gp:US4793705" :patent/title "Single molecule tracking \n       " 978 :add]
["gp:US4793705" :patent/inventor "E. Brooks Shera" 978 :add]
["gp:US4793705" :patent/filed-at "1987-10-07" 978 :add]
["gp:US4793705" :patent/number "US:4793705" 978 :add]
["gp:FR2083067A5" :patent/source :google-patents 979 :add]
["gp:FR2083067A5" :patent/country "FR" 979 :add]
["gp:FR2083067A5" :patent/source-url "https://patents.google.com/patent/FR2083067A5/en" 979 :add]
["gp:FR2083067A5" :patent/patent-id "FR2083067A5" 979 :add]
["gp:FR2083067A5" :patent/applicant "Monsanto Co" 979 :add]
["gp:FR2083067A5" :patent/granted-at "1971-12-10" 979 :add]
["gp:FR2083067A5" :patent/application-number "FR:7104435A" 979 :add]
["gp:FR2083067A5" :patent/retrieved-at "2026-08-12T12:38:27.096305Z" 979 :add]
["gp:FR2083067A5" :patent/title "" 979 :add]
["gp:FR2083067A5" :patent/filed-at "1971-02-10" 979 :add]
["gp:FR2083067A5" :patent/number "FR:2083067:A5" 979 :add]
["gp:US4111838" :patent/source :google-patents 980 :add]
["gp:US4111838" :patent/country "US" 980 :add]
["gp:US4111838" :patent/cites "US3491086" 980 :add]
["gp:US4111838" :patent/cites "DE2319495A1" 980 :add]
["gp:US4111838" :patent/cites "US3983299" 980 :add]
["gp:US4111838" :patent/cites "US4006059" 980 :add]
["gp:US4111838" :patent/source-url "https://patents.google.com/patent/US4111838/en" 980 :add]
["gp:US4111838" :patent/patent-id "US4111838" 980 :add]
["gp:US4111838" :patent/applicant "Eastman Kodak Co" 980 :add]
["gp:US4111838" :patent/granted-at "1978-09-05" 980 :add]
["gp:US4111838" :patent/application-number "US:05/832,035" 980 :add]
["gp:US4111838" :patent/retrieved-at "2026-08-12T12:38:29.564869Z" 980 :add]
["gp:US4111838" :patent/title "Composition for chromatography \n       " 980 :add]
["gp:US4111838" :patent/inventor "James Robert Schaeffer" 980 :add]
["gp:US4111838" :patent/inventor "Roy Eugene Snoke" 980 :add]
["gp:US4111838" :patent/inventor "Harry Wayne Harris" 980 :add]
["gp:US4111838" :patent/filed-at "1977-09-09" 980 :add]
["gp:US4111838" :patent/number "US:4111838" 980 :add]
["gp:EP0197784A1" :patent/source :google-patents 981 :add]
["gp:EP0197784A1" :patent/country "EP" 981 :add]
["gp:EP0197784A1" :patent/cites "US4266029" 981 :add]
["gp:EP0197784A1" :patent/cites "US4434228" 981 :add]
["gp:EP0197784A1" :patent/cites "DE3323078A1" 981 :add]
["gp:EP0197784A1" :patent/source-url "https://patents.google.com/patent/EP0197784A1/en" 981 :add]
["gp:EP0197784A1" :patent/patent-id "EP0197784A1" 981 :add]
["gp:EP0197784A1" :patent/applicant "Genex Corp" 981 :add]
["gp:EP0197784A1" :patent/application-number "EP:86302533A" 981 :add]
["gp:EP0197784A1" :patent/retrieved-at "2026-08-12T12:38:33.370220Z" 981 :add]
["gp:EP0197784A1" :patent/title "Method for immobilizing a biological material \n       " 981 :add]
["gp:EP0197784A1" :patent/inventor "Wayne E. Swann" 981 :add]
["gp:EP0197784A1" :patent/inventor "Carol A. Nolf" 981 :add]
["gp:EP0197784A1" :patent/filed-at "1986-04-04" 981 :add]
["gp:EP0203049A1" :patent/source :google-patents 982 :add]
["gp:EP0203049A1" :patent/country "EP" 982 :add]
["gp:EP0203049A1" :patent/cites "CA1046506A" 982 :add]
["gp:EP0203049A1" :patent/cites "SE417431B" 982 :add]
["gp:EP0203049A1" :patent/cites "EP0050389A1" 982 :add]
["gp:EP0203049A1" :patent/cites "SE437270B" 982 :add]
["gp:EP0203049A1" :patent/source-url "https://patents.google.com/patent/EP0203049A1/en" 982 :add]
["gp:EP0203049A1" :patent/patent-id "EP0203049A1" 982 :add]
["gp:EP0203049A1" :patent/applicant "LKB Produkter AB" 982 :add]
["gp:EP0203049A1" :patent/applicant "Pharmacia AB" 982 :add]
["gp:EP0203049A1" :patent/application-number "EP:86850174A" 982 :add]
["gp:EP0203049A1" :patent/retrieved-at "2026-08-12T12:38:35.758066Z" 982 :add]
["gp:EP0203049A1" :patent/title "Method of cross-linking a porous polysaccharide gel \n       " 982 :add]
["gp:EP0203049A1" :patent/inventor "Göran Einar Samuel Lindgren" 982 :add]
["gp:EP0203049A1" :patent/filed-at "1986-05-16" 982 :add]
["gp:WO1987007531A1" :patent/source :google-patents 983 :add]
["gp:WO1987007531A1" :patent/country "WO" 983 :add]
["gp:WO1987007531A1" :patent/cites "EP0110409A2" 983 :add]
["gp:WO1987007531A1" :patent/cites "EP0129786A2" 983 :add]
["gp:WO1987007531A1" :patent/source-url "https://patents.google.com/patent/WO1987007531A1/en" 983 :add]
["gp:WO1987007531A1" :patent/patent-id "WO1987007531A1" 983 :add]
["gp:WO1987007531A1" :patent/applicant "Royal Postgraduate Medical School" 983 :add]
["gp:WO1987007531A1" :patent/application-number "PC:T/GB1987/000406" 983 :add]
["gp:WO1987007531A1" :patent/retrieved-at "2026-08-12T12:38:39.635822Z" 983 :add]
["gp:WO1987007531A1" :patent/title "Endotoxin removal \n       " 983 :add]
["gp:WO1987007531A1" :patent/inventor "Jonathan Cohen" 983 :add]
["gp:WO1987007531A1" :patent/inventor "Calvin John Ryan" 983 :add]
["gp:WO1987007531A1" :patent/filed-at "1987-06-11" 983 :add]
["gp:EP0266580A2" :patent/source :google-patents 984 :add]
["gp:EP0266580A2" :patent/country "EP" 984 :add]
["gp:EP0266580A2" :patent/source-url "https://patents.google.com/patent/EP0266580A2/en" 984 :add]
["gp:EP0266580A2" :patent/patent-id "EP0266580A2" 984 :add]
["gp:EP0266580A2" :patent/applicant "Excorim KB" 984 :add]
["gp:EP0266580A2" :patent/application-number "EP:87114860A" 984 :add]
["gp:EP0266580A2" :patent/retrieved-at "2026-08-12T12:38:42.214538Z" 984 :add]
["gp:EP0266580A2" :patent/title "A method for coating solid particles with a hydrophilic gel and particles coated by the method \n       " 984 :add]
["gp:EP0266580A2" :patent/inventor "Per-Olof Larsson" 984 :add]
["gp:EP0266580A2" :patent/inventor "Kersti Barbro Johnson" 984 :add]
["gp:EP0266580A2" :patent/inventor "Ulf Thomas Gustav Nylén" 984 :add]
["gp:EP0266580A2" :patent/inventor "Per Ingvar Oskar Wikström" 984 :add]
["gp:EP0266580A2" :patent/inventor "Ingrid Kristina Zetterstrand" 984 :add]
["gp:EP0266580A2" :patent/filed-at "1987-10-12" 984 :add]
["gp:DE2644432A1" :patent/source :google-patents 985 :add]
["gp:DE2644432A1" :patent/country "DE" 985 :add]
["gp:DE2644432A1" :patent/source-url "https://patents.google.com/patent/DE2644432A1/en" 985 :add]
["gp:DE2644432A1" :patent/patent-id "DE2644432A1" 985 :add]
["gp:DE2644432A1" :patent/applicant "Research Corp" 985 :add]
["gp:DE2644432A1" :patent/application-number "DE:19762644432" 985 :add]
["gp:DE2644432A1" :patent/retrieved-at "2026-08-12T12:38:44.707895Z" 985 :add]
["gp:DE2644432A1" :patent/title "\n  GENETICALLY MODIFIED MICRO-ORGANISMS AND METHOD FOR MANUFACTURING THEM\n \n       " 985 :add]
["gp:DE2644432A1" :patent/inventor "Iii Roy Curtiss" 985 :add]
["gp:DE2644432A1" :patent/filed-at "1976-10-01" 985 :add]
["gp:US3575733" :patent/source :google-patents 986 :add]
["gp:US3575733" :patent/country "US" 986 :add]
["gp:US3575733" :patent/source-url "https://patents.google.com/patent/US3575733/en" 986 :add]
["gp:US3575733" :patent/patent-id "US3575733" 986 :add]
["gp:US3575733" :patent/applicant "Texas Instruments Inc" 986 :add]
["gp:US3575733" :patent/granted-at "1971-04-20" 986 :add]
["gp:US3575733" :patent/application-number "US:7/553,56A" 986 :add]
["gp:US3575733" :patent/retrieved-at "2026-08-12T12:38:48.955015Z" 986 :add]
["gp:US3575733" :patent/title "Electron beam techniques in integrated circuits \n     " 986 :add]
["gp:US3575733" :patent/inventor "Olin B Cecil" 986 :add]
["gp:US3575733" :patent/filed-at "1968-08-26" 986 :add]
["gp:US3575733" :patent/number "US:3575733" 986 :add]
["gp:US3885060" :patent/source :google-patents 987 :add]
["gp:US3885060" :patent/country "US" 987 :add]
["gp:US3885060" :patent/cites "US3253000" 987 :add]
["gp:US3885060" :patent/cites "US3291600" 987 :add]
["gp:US3885060" :patent/cites "US3501389" 987 :add]
["gp:US3885060" :patent/cites "US3361842" 987 :add]
["gp:US3885060" :patent/cites "US3417069" 987 :add]
["gp:US3885060" :patent/cites "US3406040" 987 :add]
["gp:US3885060" :patent/cites "US3374111" 987 :add]
["gp:US3885060" :patent/cites "US3535137" 987 :add]
["gp:US3885060" :patent/cites "US3531547" 987 :add]
["gp:US3885060" :patent/source-url "https://patents.google.com/patent/US3885060/en" 987 :add]
["gp:US3885060" :patent/patent-id "US3885060" 987 :add]
["gp:US3885060" :patent/applicant "Hitachi Ltd" 987 :add]
["gp:US3885060" :patent/granted-at "1975-05-20" 987 :add]
["gp:US3885060" :patent/application-number "US:3/105,83A" 987 :add]
["gp:US3885060" :patent/retrieved-at "2026-08-12T12:38:51.422690Z" 987 :add]
["gp:US3885060" :patent/title "Production of insolubilized organic polymers \n       " 987 :add]
["gp:US3885060" :patent/inventor "Takako Hirai" 987 :add]
["gp:US3885060" :patent/inventor "Yoshio Hatano" 987 :add]
["gp:US3885060" :patent/inventor "Saburo Nonogaki" 987 :add]
["gp:US3885060" :patent/inventor "Teruaki Kobayashi" 987 :add]
["gp:US3885060" :patent/filed-at "1972-11-29" 987 :add]
["gp:US3885060" :patent/number "US:3885060" 987 :add]
["gp:US3914462" :patent/source :google-patents 988 :add]
["gp:US3914462" :patent/country "US" 988 :add]
["gp:US3914462" :patent/cites "US3037955" 988 :add]
["gp:US3914462" :patent/cites "US3234303" 988 :add]
["gp:US3914462" :patent/cites "US3703402" 988 :add]
["gp:US3914462" :patent/source-url "https://patents.google.com/patent/US3914462/en" 988 :add]
["gp:US3914462" :patent/patent-id "US3914462" 988 :add]
["gp:US3914462" :patent/applicant "Hitachi Ltd" 988 :add]
["gp:US3914462" :patent/granted-at "1975-10-21" 988 :add]
["gp:US3914462" :patent/application-number "US:4/168,73A" 988 :add]
["gp:US3914462" :patent/retrieved-at "2026-08-12T12:38:55.402113Z" 988 :add]
["gp:US3914462" :patent/title "Method for forming a resist mask using a positive electron resist \n       " 988 :add]
["gp:US3914462" :patent/inventor "Hajime Morishita" 988 :add]
["gp:US3914462" :patent/inventor "Saburo Nonogaki" 988 :add]
["gp:US3914462" :patent/filed-at "1973-11-19" 988 :add]
["gp:US3914462" :patent/number "US:3914462" 988 :add]
["gp:US2051603" :patent/source :google-patents 989 :add]
["gp:US2051603" :patent/country "US" 989 :add]
["gp:US2051603" :patent/source-url "https://patents.google.com/patent/US2051603/en" 989 :add]
["gp:US2051603" :patent/patent-id "US2051603" 989 :add]
["gp:US2051603" :patent/applicant "Individual" 989 :add]
["gp:US2051603" :patent/granted-at "1936-08-18" 989 :add]
["gp:US2051603" :patent/application-number "US:6/748,50A" 989 :add]
["gp:US2051603" :patent/retrieved-at "2026-08-12T12:38:57.859620Z" 989 :add]
["gp:US2051603" :patent/title "Process for the production of the explanatory titles for the pictures on cinematographic films \n     " 989 :add]
["gp:US2051603" :patent/inventor "Hruska Rudolf" 989 :add]
["gp:US2051603" :patent/filed-at "1933-06-08" 989 :add]
["gp:US2051603" :patent/number "US:2051603" 989 :add]
["gp:US3535137" :patent/source :google-patents 990 :add]
["gp:US3535137" :patent/country "US" 990 :add]
["gp:US3535137" :patent/cites "US2892712" 990 :add]
["gp:US3535137" :patent/cites "US2895891" 990 :add]
["gp:US3535137" :patent/cites "US2989492" 990 :add]
["gp:US3535137" :patent/cites "US3196008" 990 :add]
["gp:US3535137" :patent/source-url "https://patents.google.com/patent/US3535137/en" 990 :add]
["gp:US3535137" :patent/patent-id "US3535137" 990 :add]
["gp:US3535137" :patent/applicant "International Business Machines Corp" 990 :add]
["gp:US3535137" :patent/granted-at "1970-10-20" 990 :add]
["gp:US3535137" :patent/application-number "US:6/091,45A" 990 :add]
["gp:US3535137" :patent/retrieved-at "2026-08-12T12:39:02.229337Z" 990 :add]
["gp:US3535137" :patent/title "Method of fabricating etch resistant masks \n       " 990 :add]
["gp:US3535137" :patent/inventor "Ivan Haller" 990 :add]
["gp:US3535137" :patent/inventor "Michael Hatzakis" 990 :add]
["gp:US3535137" :patent/inventor "Rangaswamy Srinivasan" 990 :add]
["gp:US3535137" :patent/filed-at "1967-01-13" 990 :add]
["gp:US3535137" :patent/number "US:3535137" 990 :add]
]
