[
["gp:US1722160" :patent/source :google-patents 1975 :add]
["gp:US1722160" :patent/country "US" 1975 :add]
["gp:US1722160" :patent/source-url "https://patents.google.com/patent/US1722160/en" 1975 :add]
["gp:US1722160" :patent/patent-id "US1722160" 1975 :add]
["gp:US1722160" :patent/applicant "Individual" 1975 :add]
["gp:US1722160" :patent/granted-at "1929-07-23" 1975 :add]
["gp:US1722160" :patent/application-number "" 1975 :add]
["gp:US1722160" :patent/retrieved-at "2026-08-20T20:38:04.959036Z" 1975 :add]
["gp:US1722160" :patent/title "Automatic water-discharge device for oil tanks \n     " 1975 :add]
["gp:US1722160" :patent/inventor "Smith John Holman" 1975 :add]
["gp:US1722160" :patent/filed-at "1927-02-26" 1975 :add]
["gp:US1722160" :patent/number "US:1722160" 1975 :add]
["gp:US1968131" :patent/source :google-patents 1976 :add]
["gp:US1968131" :patent/country "US" 1976 :add]
["gp:US1968131" :patent/source-url "https://patents.google.com/patent/US1968131/en" 1976 :add]
["gp:US1968131" :patent/patent-id "US1968131" 1976 :add]
["gp:US1968131" :patent/applicant "Individual" 1976 :add]
["gp:US1968131" :patent/granted-at "1934-07-31" 1976 :add]
["gp:US1968131" :patent/application-number "US:6/876,76A" 1976 :add]
["gp:US1968131" :patent/retrieved-at "2026-08-20T20:38:07.263406Z" 1976 :add]
["gp:US1968131" :patent/title "Liquid separating device \n     " 1976 :add]
["gp:US1968131" :patent/inventor "William K Edwards" 1976 :add]
["gp:US1968131" :patent/filed-at "1933-08-31" 1976 :add]
["gp:US1968131" :patent/number "US:1968131" 1976 :add]
["gp:US2477072" :patent/source :google-patents 1977 :add]
["gp:US2477072" :patent/country "US" 1977 :add]
["gp:US2477072" :patent/source-url "https://patents.google.com/patent/US2477072/en" 1977 :add]
["gp:US2477072" :patent/patent-id "US2477072" 1977 :add]
["gp:US2477072" :patent/applicant "Carnegie Illinois Steel Corp" 1977 :add]
["gp:US2477072" :patent/granted-at "1949-07-26" 1977 :add]
["gp:US2477072" :patent/application-number "US:5/740,37A" 1977 :add]
["gp:US2477072" :patent/retrieved-at "2026-08-20T20:38:09.532294Z" 1977 :add]
["gp:US2477072" :patent/title "Process for determining titanium carbide in stainless steel \n       " 1977 :add]
["gp:US2477072" :patent/inventor "Walter C Maurer" 1977 :add]
["gp:US2477072" :patent/filed-at "1945-01-22" 1977 :add]
["gp:US2477072" :patent/number "US:2477072" 1977 :add]
["gp:US2471861" :patent/source :google-patents 1978 :add]
["gp:US2471861" :patent/country "US" 1978 :add]
["gp:US2471861" :patent/cites "US1674416" 1978 :add]
["gp:US2471861" :patent/cites "US1986403" 1978 :add]
["gp:US2471861" :patent/cites "US2370683" 1978 :add]
["gp:US2471861" :patent/source-url "https://patents.google.com/patent/US2471861/en" 1978 :add]
["gp:US2471861" :patent/patent-id "US2471861" 1978 :add]
["gp:US2471861" :patent/applicant "EMULSOL CORP" 1978 :add]
["gp:US2471861" :patent/granted-at "1949-05-31" 1978 :add]
["gp:US2471861" :patent/application-number "US:5/936,23A" 1978 :add]
["gp:US2471861" :patent/retrieved-at "2026-08-20T20:38:11.823104Z" 1978 :add]
["gp:US2471861" :patent/title "Testing of solutions \n       " 1978 :add]
["gp:US2471861" :patent/inventor "Frank J Cahn" 1978 :add]
["gp:US2471861" :patent/filed-at "1945-05-14" 1978 :add]
["gp:US2471861" :patent/number "US:2471861" 1978 :add]
["gp:US175066" :patent/source :google-patents 1979 :add]
["gp:US175066" :patent/country "US" 1979 :add]
["gp:US175066" :patent/source-url "https://patents.google.com/patent/US175066/en" 1979 :add]
["gp:US175066" :patent/patent-id "US175066" 1979 :add]
["gp:US175066" :patent/granted-at "1876-03-21" 1979 :add]
["gp:US175066" :patent/application-number "" 1979 :add]
["gp:US175066" :patent/retrieved-at "2026-08-20T20:38:14.387204Z" 1979 :add]
["gp:US175066" :patent/title "Improvement in filters for drugs " 1979 :add]
["gp:US175066" :patent/filed-at "" 1979 :add]
["gp:US175066" :patent/number "US:175066" 1979 :add]
["gp:US411596" :patent/source :google-patents 1980 :add]
["gp:US411596" :patent/country "US" 1980 :add]
["gp:US411596" :patent/source-url "https://patents.google.com/patent/US411596/en" 1980 :add]
["gp:US411596" :patent/patent-id "US411596" 1980 :add]
["gp:US411596" :patent/granted-at "1889-09-24" 1980 :add]
["gp:US411596" :patent/application-number "" 1980 :add]
["gp:US411596" :patent/retrieved-at "2026-08-20T20:38:16.873211Z" 1980 :add]
["gp:US411596" :patent/title "Percolator " 1980 :add]
["gp:US411596" :patent/filed-at "" 1980 :add]
["gp:US411596" :patent/number "US:411596" 1980 :add]
["gp:US1313626" :patent/source :google-patents 1981 :add]
["gp:US1313626" :patent/country "US" 1981 :add]
["gp:US1313626" :patent/source-url "https://patents.google.com/patent/US1313626/en" 1981 :add]
["gp:US1313626" :patent/patent-id "US1313626" 1981 :add]
["gp:US1313626" :patent/granted-at "1919-08-19" 1981 :add]
["gp:US1313626" :patent/application-number "" 1981 :add]
["gp:US1313626" :patent/retrieved-at "2026-08-20T20:38:19.315317Z" 1981 :add]
["gp:US1313626" :patent/title "Planoorapii co " 1981 :add]
["gp:US1313626" :patent/filed-at "" 1981 :add]
["gp:US1313626" :patent/number "US:1313626" 1981 :add]
["gp:US1585447" :patent/source :google-patents 1982 :add]
["gp:US1585447" :patent/country "US" 1982 :add]
["gp:US1585447" :patent/source-url "https://patents.google.com/patent/US1585447/en" 1982 :add]
["gp:US1585447" :patent/patent-id "US1585447" 1982 :add]
["gp:US1585447" :patent/applicant "Individual" 1982 :add]
["gp:US1585447" :patent/granted-at "1926-05-18" 1982 :add]
["gp:US1585447" :patent/application-number "US:5/946,69A" 1982 :add]
["gp:US1585447" :patent/retrieved-at "2026-08-20T20:38:21.752288Z" 1982 :add]
["gp:US1585447" :patent/title "Extraction flask \n     " 1982 :add]
["gp:US1585447" :patent/inventor "Edward L Webb" 1982 :add]
["gp:US1585447" :patent/filed-at "1922-10-14" 1982 :add]
["gp:US1585447" :patent/number "US:1585447" 1982 :add]
["gp:US1722435" :patent/source :google-patents 1983 :add]
["gp:US1722435" :patent/country "US" 1983 :add]
["gp:US1722435" :patent/source-url "https://patents.google.com/patent/US1722435/en" 1983 :add]
["gp:US1722435" :patent/patent-id "US1722435" 1983 :add]
["gp:US1722435" :patent/applicant "Individual" 1983 :add]
["gp:US1722435" :patent/granted-at "1929-07-30" 1983 :add]
["gp:US1722435" :patent/application-number "US:7/399,64A" 1983 :add]
["gp:US1722435" :patent/retrieved-at "2026-08-20T20:38:24.318929Z" 1983 :add]
["gp:US1722435" :patent/title "Apparatus for extracting cholesterol from blood \n     " 1983 :add]
["gp:US1722435" :patent/inventor "Samuel L Leiboff" 1983 :add]
["gp:US1722435" :patent/filed-at "1924-09-25" 1983 :add]
["gp:US1722435" :patent/number "US:1722435" 1983 :add]
]
